.mar{
    width:50%;
    margin:0rem auto;
    background-color: #716BC7 ;
    border-radius: 2%;
}  
button{
   
    background: #EDECF8;
    font-weight: 900;
    color: #5F58C0;
    border:1px solid;
    padding: 1.3em;
    border:2px solid #463FA5;

}
.butt{
    font-size: 30px;
}
.row{
    margin-bottom: 0.5em;
}

input{
    background-color: #EDECF8;
     height: 5rem;
     width:95%;
     color:#463FA5;
     text-align: right;

   

}
.inputdisplay{
    font-weight: 700;
    font-size: 30px;
    border-color: #463FA5;
}


.r1{
    margin-top: 0.5em;
}
.r2{
width:45%;
}
.red{
    background: #FF0509 !important;
    color: #ffffff !important;
    box-shadow: 10px 8px 14px 0 #EDECF8, 0 6px 20px 0 #463FA5;

}

.op{
    background: #A6A2DC  !important;
    color: #ffffff !important;
    box-shadow: 2px 8px 14px 2px #EDECF8, 0 6px 20px 0 #463FA5;
}

@media (min-width:0px) and (max-width: 990px) {
    .mar{
        width: 100%;

    }
}

@media (min-width:991px) and (max-width: 1200px) {
    .mar{
        width: 70%;

    }
}

@media (min-width:0px) and (max-width: 770px) {
    button{
   
        
        padding: 0.5em;
    
    }
}

@media (min-width:750px) and (max-width: 1200px) {
    button{
   
        
        padding: 1.2em;
    
    }
}